@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Pacifico&display=swap');

:root {
    --text-color: #00373e;
    --background-color: #ffffff;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.demo::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.demo {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}


body {
    background-color: #f8f6f5;
}

.header-nav {
    color: #849ca0;
}

.header-nav a {
    color: #00373e;
    cursor: pointer;
}

.logo {
    color: #00373e;
    background-color: white;
    font-size: 70px;
    line-height: 24px;
    font-family: 'Pacifico', sans-serif;
}

.main-content {
    background-color: #00373e;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    min-height: 100vh;
    border-radius: 80px;
    margin-top: -40px;
}

.button-style {
    border-radius: 50px !important;
    background-color: #cafff2;
    padding: 10px 25px;
    border: none;
    font-weight: bold;
    color: #00373e;
}

.button-style:hover {
    cursor: pointer;
    background-color: #fbd3b6;
}

.main-content-p {
    font-size: 24px;
    line-height: 36px;
    font-family: 'Pacifico', sans-serif;
}

.main-content-h1 {
    font-size: 700px;
    line-height: 80px;
    letter-spacing: -0.8px;
    font-family: 'Bungee Inline', sans-serif;
}

.second-slide-main {
    /* height: 90vh; */
    color: var(--text-color);
    background-color: var(--background-color);
}

.move-icon {
    color: #00373e;
    background-color: #ffffff;
    /* font-size: 2rem; */
    border-radius: 60%;
    cursor: pointer;
}

.move-icon:hover {
    color: aliceblue;
    background-color: #00373e;
    border-radius: 60%;
    /* font-size: 2rem; */
    cursor: pointer;
}

.card-one {
    background-color: #00373e !important;
    color: white;
}

.card-two {
    background-color: #94954c !important;
    color: white;

}

.card-three {
    background-color: #fbad9c !important;
    color: #00373e;
}

.card-four {
    background-color: #ac9e88 !important;
    color: #00373e;
}

.card-five {
    background-color: #fbd3b6 !important;
}

.card-six {
    background-color: #ff76df !important;
}

.card-seven {
    background-color: #f4f4f6 !important;
}

.section-four{
    background-color: #fbd3b6 !important;
}